body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
  color: white;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center; }

img {
  display: block;
  width: 100%;
  height: auto; }

h1, h2, h3 {
  margin: 0;
  padding: 1em 0; }

p {
  margin: 0;
  padding: 1em 0; }

.btn {
  background-color: #333333;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666666;
  display: inline-block;
  margin: 0.5em 0; }
  .btn:hover {
    background-color: #eaeaea;
    color: #333333; }

#showcase {
  min-height: 450px;
  color: white; }
  #showcase .bg-image {
    position: absolute;
    background-color: #333333;
    background-image: url("img/programming-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    opacity: 0.2; }
  #showcase h1 {
    padding-top: 100px;
    padding-bottom: 0; }
  #showcase .content-wrap {
    padding: 0 1.5em; }

#section-a {
  background-color: #eaeaea;
  color: #333333;
  padding-bottom: 2em; }
  #section-a .content-wrap {
    padding: 0 1.5em; }

#section-b {
  padding: 2em 1em 1em; }
  #section-b ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #section-b ul li {
      margin-bottom: 1em;
      background-color: white;
      color: #333333; }

.card-content {
  padding: 1.5em; }

#section-c {
  background-color: white;
  color: #333333;
  padding: 2em; }

#section-d .box {
  padding: 2em;
  color: white; }
  #section-d .box:first-child {
    background-color: #2690d4; }

#main-footer {
  padding: 2em;
  background-color: black;
  color: white; }
  #main-footer a {
    color: #2690d4;
    text-decoration: none; }

@media screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr; }
  #section-a .content-text {
    -webkit-columns: 2;
    columns: 2;
    -webkit-column-gap: 2em;
    column-gap: 2em; }
    #section-a .content-text p {
      padding-top: 0; }
  .content-wrap,
  #section-b ul {
    grid-column: 2/4; }
  .box,
  #main-footer div {
    grid-column: span 2; }
  #section-b ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #section-b ul li {
      width: 31%; } }
